{#
# This file is part of «Epigraphy of Medieval Rus'» database.
#
# Copyright (c) National Research University Higher School of Economics
#
# «Epigraphy of Medieval Rus'» database is free software:
# you can redistribute it and/or modify it under the terms of the
# GNU General Public License as published by the Free Software Foundation, version 3.
#
# «Epigraphy of Medieval Rus'» database is distributed
# in the hope  that it will be useful, but WITHOUT ANY WARRANTY; without even
# the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code. If you have not received
# a copy of the GNU General Public License along with
# «Epigraphy of Medieval Rus'» database,
# see <http://www.gnu.org/licenses/>.
#}

{% extends 'base.html.twig' %}

{% block page_content %}

    <form action="{{ path("app_login") }}" method="post" role="form">

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {{ form_row(form._token) }}

        <label for="inputUsername">{{ ('controller.'~controller~'.'~method~'.form.username')|trans }}</label>
        <input
                type="text"
                value="{{ last_username }}"
                name="{{ form.username.vars.full_name }}"
                id="inputUsername"
                class="form-control"
                required
                autofocus
        >

        <label for="inputPassword">{{ ('controller.'~controller~'.'~method~'.form.password')|trans }}</label>
        <input
                type="password"
                name="{{ form.password.vars.full_name }}"
                id="inputPassword"
                class="form-control"
                required
        >

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me">
                {{ ('controller.'~controller~'.'~method~'.form.rememberMe')|trans }}
            </label>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">
            {{ ('controller.'~controller~'.'~method~'.form.signIn')|trans }}
        </button>
    </form>

{% endblock %}
