{#
# This file is part of «Epigraphy of Medieval Rus» database.
#
# Copyright (c) National Research University Higher School of Economics
#
# «Epigraphy of Medieval Rus» database is free software:
# you can redistribute it and/or modify it under the terms of the
# GNU General Public License as published by the Free Software Foundation, version 3.
#
# «Epigraphy of Medieval Rus» database is distributed
# in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
# the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code. If you have not received
# a copy of the GNU General Public License along with
# «Epigraphy of Medieval Rus» database,
# see <http://www.gnu.org/licenses/>.
#}

{%- extends 'base.html.twig' -%}

{% block page_title %}{% endblock %}

{% block page_content %}

    {% import 'content/post.html.twig' as post_helper %}
    {% import _self as self %}

    {{ post_helper.render_post_body(post, false) }}

    {{ self.render_favorite_inscriptions(translationContext, inscriptions) }}
{% endblock %}

{%- macro render_favorite_inscriptions(translationContext, inscriptions) -%}
    {% import _self as self %}

    <div class="eomr-card-columns card-columns">
        {% for inscription in inscriptions %}
            {{ self.render_favorite_inscription(translationContext, inscription) }}
        {% endfor %}
    </div>
{%- endmacro -%}

{%- macro render_favorite_inscription(translationContext, inscription) -%}
    {% import _self as self %}

    <a href="{{ path('inscription__show', {'id': inscription.id}) }}">
        <div class="eomr-card card">
            <div class="eomr-card-body card-body">
                <h4 class="eomr-card-title card-title">{{ 'favoriteInsritpion.label'|transWithContext(translationContext, {'%id%': inscription.id}) }}</h4>
                <p class="eomr-card-text card-text">{{- valueStringifier.stringify(inscription, 'description')|raw -}}</p>
                <div class="eomr-card-text card-text">
                    <div class="eomr-additional-data-container small">
                        <div class="eomr-additional-data eomr-additional-data-left">{{- self.render_origin(inscription) -}}</div>
                        <div class="eomr-additional-data eomr-additional-data-right">{{- self.render_date(inscription) -}}</div>
                    </div>
                </div>
            </div>
            {% set isImageDrawn = false %}
            {% for filesActualValue in imagesFormatter.getZeroRowImages(inscription, ['photos', 'drawings']) %}
                {% for file in filesActualValue.value %}
                    {% if not isImageDrawn %}
                        <img class="card-img-bottom img-fluid" src="{{ thumbnailsGenerator.thumbnail(file) }}" alt="{{ file.description }}">
                        {% set isImageDrawn = true %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </a>
{%- endmacro -%}

{%- macro render_origin(inscription) -%}
    {% import _self as self %}

    {% if inscription.carrier is not null %}
        {{- inscription.carrier.origin1 ?? inscription.carrier.origin2 -}}
    {% endif %}
{%- endmacro -%}

{%- macro render_date(inscription) -%}
    {% import _self as self %}

    {{- inscription.conventionalDate ?? '' -}}
{%- endmacro -%}