{#
 # This file is part of «Epigraphy of Medieval Rus» database.
 #
 # Copyright (c) National Research University Higher School of Economics
 #
 # «Epigraphy of Medieval Rus» database is free software:
 # you can redistribute it and/or modify it under the terms of the
 # GNU General Public License as published by the Free Software Foundation, version 3.
 #
 # «Epigraphy of Medieval Rus» database is distributed
 # in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
 # the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 # See the GNU General Public License for more details.
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code. If you have not received
 # a copy of the GNU General Public License along with
 # «Epigraphy of Medieval Rus» database,
 # see <http://www.gnu.org/licenses/>.
 #}

{%- extends 'site/base.html.twig' -%}

{% block page_title %}
    {%- if is_granted('ROLE_ADMIN') and not inscription.isShownOnSite -%}
        <span class="eomr-information-box eomr-information-box__warning">
            {{- 'noPublication'|transWithContext(translationContext) -}}
        </span>
    {%- endif -%}
{% endblock %}

{% block page_content %}

    {% import _self as self %}

    <table class="table table-bordered">
        <tbody>
            {{ self.format_text_row(translationContext, 'conventionalDate', inscription.conventionalDate) }}
            {{ self.format_text_row(translationContext, 'zeroRow.description', self.format_zero_row(inscription, 'description')) }}
            {{ self.format_text_row(translationContext, 'carrier.individualName', localizedText(inscription.carrier, 'individualName', inscription.carrier.individualName)) }}
            {{ self.format_text_row(translationContext, 'carrier.categories', inscription.carrier.categories|map(namedEntity => namedEntity.translatedName(app.request.locale))) }}
            {{ self.format_text_row(translationContext, 'carrier.discoverySite', inscription.carrier.discoverySite|map(site => localizedName(site, app.request.locale))) }}
            {{ self.format_carrier(translationContext, inscription) }}
            {{ self.format_original_text_row(translationContext, 'zeroRow.text', inscription) }}
            {{ self.format_text_row(translationContext, 'zeroRow.transliteration', self.format_zero_row(inscription, 'transliteration')) }}
            {{ self.format_text_row(translationContext, 'zeroRow.reconstruction', self.format_zero_row(inscription, 'reconstruction')) }}
            {{ self.format_text_row(translationContext, 'zeroRow.normalization', self.format_zero_row(inscription, 'normalization')) }}
            {{ self.format_text_row(translationContext, 'zeroRow.interpretationComment', self.format_zero_row(inscription, 'interpretationComment')) }}
            {{ self.format_text_row(translationContext, 'zeroRow.translation', self.format_translation(inscription)) }}
            {{ self.format_text_row(translationContext, 'rssdaRender', self.format_link(inscription.rssdaRender)) }}
            {{ self.format_text_row(translationContext, 'zeroRow.photos', self.format_zero_row_images(inscription, 'photos')) }}
            {{ self.format_text_row(translationContext, 'zeroRow.drawings', self.format_zero_row_images(inscription, 'drawings')) }}
            {{ self.format_text_row(translationContext, 'zeroRow.alphabets', self.format_zero_row(inscription, 'alphabets')) }}
            {{ self.format_text_row(translationContext, 'zeroRow.materials', self.format_zero_row(inscription, 'materials')) }}
            {{ self.format_text_row(translationContext, 'zeroRow.writingMethods', self.format_zero_row(inscription, 'writingMethods')) }}
            {{ self.format_text_row(translationContext, 'zeroRow.placeOnCarrier', self.format_zero_row(inscription, 'placeOnCarrier')) }}
            {{ self.format_text_row(translationContext, 'zeroRow.preservationStates', self.format_zero_row(inscription, 'preservationStates')) }}
            {{ self.format_text_row(translationContext, 'zeroRow.nonStratigraphicalDate', self.format_zero_row(inscription, 'nonStratigraphicalDate')) }}
            {{ self.format_text_row(translationContext, 'zeroRow.dateInText', self.format_zero_row(inscription, 'dateInText')) }}
            {{ self.format_text_row(translationContext, 'zeroRow.historicalDate', self.format_zero_row(inscription, 'historicalDate')) }}
            {{ self.format_text_row(translationContext, 'zeroRow.origin', self.format_zero_row(inscription, 'origin')) }}
            {{ self.format_text_row(translationContext, 'dateExplanation', localizedText(inscription, 'dateExplanation', inscription.dateExplanation)) }}
            {{ self.format_text_row(translationContext, 'comment', localizedText(inscription, 'comment', inscription.comment)) }}
            {{ self.format_literature(translationContext, inscription) }}
            {% if epidocXml is not empty %}
                {{ self.format_epidoc_text_row(translationContext, 'epidocText', epidocRendered|default(null), epidocRenderMode|default('legacy_js')) }}
                {{ self.format_epidoc_apparatus_row(translationContext, 'epidocCriticalApparatus') }}
                {{ self.format_epidoc_translations_row(translationContext, 'epidocTranslations') }}
            {% endif %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container">
            <a href="{{ path('epigraphy_inscription_edit', {'id': inscription.id}) }}"
               target="_blank"
               class="h5"
            >
                {{- 'admin'|transWithContext(translationContext) -}}
            </a>
        </div>
    {% endif %}

    {% if epidocXml is not empty %}
    {% set epidocStubXml %}
<TEI xml:space="preserve" xml:lang="or" xmlns="http://www.tei-c.org/ns/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>title of document</title>
            </titleStmt>
            <publicationStmt>
                <authority/>
                <idno type="filename"/>
            </publicationStmt>
            <sourceDesc>
                <msDesc>
                    <msIdentifier>
                        <repository>museum/archive</repository>
                        <idno>inventory number</idno>
                    </msIdentifier>
                    <physDesc>
                        <objectDesc>
                            <supportDesc>
                                <support>description of object/monument (likely to include <material/>
                                    and <objectType/> information, <dimensions/>, etc.)</support>
                            </supportDesc>
                            <layoutDesc>
                                <layout>description of text field/campus</layout>
                            </layoutDesc>
                        </objectDesc>
                        <handDesc>
                            <handNote>description of letters, possibly including <height>letter-heights</height>
                            </handNote>
                        </handDesc>
                    </physDesc>
                    <history>
                        <origin>
                            <origPlace>Place of origin</origPlace>
                            <origDate>Date of origin</origDate>
                        </origin>
                        <provenance type="found"> Надпись обнаружена в приделе Михаила, справа от южного портала собора.
                        </provenance>
                        <provenance type="observed">Modern location(s) (if different from repository, above)
                        </provenance>
                    </history>
                </msDesc>
                <listBibl>
                    <bibl xml:id="Kor">Корниенко 2015б</bibl>
                    <bibl xml:id="Vys">Высоцкий 1985</bibl>
                    <bibl xml:id="Tur">Турилов 2000</bibl>
                </listBibl>
            </sourceDesc>
        </fileDesc>
        <profileDesc>
            <textClass>
                <keywords scheme="#genre">
                    <term>молитва</term>
                </keywords>
                <keywords scheme="#technique">
                    <term key="graffito">граффито</term> 
                </keywords>
                <keywords scheme="#preservation">
                    <term key="50">50%</term>
                </keywords>
            </textClass>
        </profileDesc>
    </teiHeader>
    <facsimile>
        <graphic url="path/to/photograph_of_text_or_monument"/>
    </facsimile>
    <text>
        <body>
            <div type="edition" xml:space="preserve">
                 <ab>
          Ги҃ помози рабу
          <app>
            <lem resp="#ed">своему</lem>
            <rdg resp="#Vys">своиму</rdg>
          </app>
          <app>
            <lem resp="#ed">
                Ил
                <supplied reason="lost">ье</supplied>
            </lem>
            <rdg resp="#Vys">
                Илыи
            </rdg>
            <rdg resp="#Tur">
                Ильї
            </rdg>
          </app>
          <app>
            <lem resp="#ed">на прот
              <supplied reason="lost">ивьнꙑ</supplied>
            </lem>
            <rdg resp="#Vys">а про Т
              <supplied reason="unclear">и</supplied>рънѣ
            </rdg>
            <rdg resp="#Tur">на прот
              <supplied reason="unclear">и</supplied>въне
            </rdg>
            <rdg resp="#Kor">на противънъ</rdg>
          </app>
        </ab>
            </div>
            <div type="apparatus">
                <p>external apparatus criticus (if applicable)</p>
            </div>
      <div type="translation" xml:lang="ru">
        <p>Господи, помоги рабу своему Илье против врагов.</p>
      </div>
      <div type="translation" resp="#Kor" xml:lang="uk">
        <p>Господи, поможи рабу своєму Іллі на ворожих.</p>
      </div>
      <div type="translation" resp="#Vys" xml:lang="ru">
        <p>Господи, помоги рабу своему Илье на [день памяти Федора] Тирена</p>
      </div>
      <div type="translation" resp="#Tur" xml:lang="ru">
        <p>Господи, помоги рабу своему Илье на противников.</p>
      </div>
            <div type="commentary">
                <p>commentary</p>
            </div>
            <div type="bibliography">
                <p>bibliography of previous editions, discussion, etc.</p>
            </div>
        </body>
    </text>
</TEI>
    {% endset %}

    <!-- EpiDoc XML Data - moved here to ensure it loads before JS initialization -->
    <script id="epidoc-data" type="application/xml">
{{ epidocXml|raw }}
    </script>
    <script id="epidoc-stub-data" type="application/xml">
{{ epidocStubXml|raw }}
    </script>
    {% endif %}

    {{ include('site/inscription/_photoswipe_layout.html.twig') }}
{% endblock %}

{%- macro format_zero_row(inscription, propertyName, formatType = 'html') -%}

    {% import _self as self %}
    {# {% autoescape false %} #}
        {{- valueStringifier.stringify(inscription, propertyName, formatType)|raw -}}
    {# {% endautoescape %} #}
{%- endmacro -%}

{%- macro format_zero_row_images(inscription, propertyName) -%}

    {% import _self as self %}

    {% set actualFiles = actualValueExtractor.extractActualFiles(inscription, [propertyName]) %}

    {% if actualFiles is not empty %}
        <div class="gallery"
             data-images-container="{{ propertyName }}"
             itemscope
             itemtype="http://schema.org/ImageGallery"
        >
            {%- for actualFile in actualFiles -%}

                <figure itemprop="associatedMedia"
                        itemscope
                        itemtype="http://schema.org/ImageObject"
                        data-download-url="{{ actualFile.file.url }}"
                >
                    <a href="{{ thumbnailsGenerator.thumbnail(actualFile.file, 'large') }}"
                       itemprop="contentUrl"
                    >
                        <img src="{{ thumbnailsGenerator.thumbnail(actualFile.file, 'large') }}"
                             itemprop="thumbnail"
                             alt="{{ actualFile.description|escape }}"
                        />
                    </a>
                    <figcaption itemprop="caption description">{{ actualFile.description|raw }}</figcaption>
                </figure>
            {%- endfor -%}
        </div>
    {% else %}
        {{- '-' -}}
    {% endif %}
{%- endmacro -%}

{%- macro format_text_row(translationContext, labelTranslationKey, content) -%}

    {% import _self as self %}

    {% if content is iterable %}
        {% set content = content|join(', ') %}
    {% endif %}

    {% if content is same as (true) %}
        {% set content = 'type.bool.true'|trans %}
    {% elseif content is same as (false) %}
        {% set content = 'type.bool.false'|trans %}
    {% endif %}

    {{ self.fill_row(self.translate_field_label(translationContext, labelTranslationKey), content|raw|trim|default('-')) }}
{%- endmacro -%}

{%- macro format_original_text_row(translationContext, labelTranslationKey, inscription) -%}
    {% import _self as self %}

    {{ self.fill_row(self.get_original_text_row_th_content(translationContext, labelTranslationKey, inscription), self.get_original_text_row_td_content(inscription)) }}
{%- endmacro -%}

{%- macro get_original_text_row_th_content(translationContext, labelTranslationKey, inscription) -%}
    {% import _self as self %}

    {%- set legendLink -%}
        <br><a href="{{ path('information__legend') }}">{{ 'legend'|transWithContext(translationContext) }}</a>
    {%- endset -%}

    {{ (self.translate_field_label(translationContext, labelTranslationKey) ~ legendLink)|raw }}
{%- endmacro -%}

{%- macro get_original_text_row_td_content(inscription) -%}
    {% import _self as self %}

    {{- self.format_zero_row(inscription, 'text', 'original-text')|default('-') -}}
{%- endmacro -%}

{%- macro format_link(link) -%}
    {%- if link is not empty -%}
        <a href="{{ link }}">{{ link }}</a>
    {% endif %}
{%- endmacro -%}

{%- macro translate_field_label(translationContext, labelTranslationKey) -%}
    {{ ('inscription.label.' ~ labelTranslationKey)|transWithContext(translationContext) }}
{%- endmacro -%}

{%- macro format_carrier(translationContext, inscription) -%}

    {% import _self as self %}

    <tr>
        <td colspan="2" class="eomr-blocked-cell">
            <div data-spoiler-container class="eomr-spoiler-container hidden">
                <details>
                    <summary class="eomr-spoiler-button">
                        <span class="toggler-text open-spoiler">{{ 'carrierSpoiler.close'|transWithContext(translationContext) }}</span>
                        <span class="toggler-text closed-spoiler">{{ 'carrierSpoiler.open'|transWithContext(translationContext) }}</span>
                    </summary>
                    <div class="eomr-spoiler-content-wrapper">
                        <table class="table table-bordered">
                            <tbody>
                                {{ self.format_text_row(translationContext, 'carrier.archaeology', localizedText(inscription.carrier, 'archaeology', inscription.carrier.archaeology)) }}
                                {{ self.format_text_row(translationContext, 'carrier.findCircumstances', localizedText(inscription.carrier, 'findCircumstances', inscription.carrier.findCircumstances)) }}
                                {{ self.format_text_row(translationContext, 'carrier.storageSite', inscription.carrier.storageSite|map(site => localizedName(site, app.request.locale))) }}
                                {{ self.format_text_row(translationContext, 'carrier.storageLocalization', localizedText(inscription.carrier, 'storageLocalization', inscription.carrier.storageLocalization)) }}                        
                                {{ self.format_text_row(translationContext, 'carrier.inventoryNumber', localizedText(inscription.carrier, 'inventoryNumber', inscription.carrier.inventoryNumber)) }}
                                {{ self.format_text_row(translationContext, 'carrier.previousStorage', localizedText(inscription.carrier, 'previousStorage', inscription.carrier.previousStorage)) }}
                                {{ self.format_text_row(translationContext, 'carrier.characteristics', localizedText(inscription.carrier, 'characteristics', inscription.carrier.characteristics)) }}
                                {{ self.format_text_row(translationContext, 'carrier.stratigraphicalDate', localizedText(inscription.carrier, 'stratigraphicalDate', inscription.carrier.stratigraphicalDate)) }}
                            </tbody>
                        </table>
                    </div>
                </details>
            </div>
        </td>
    </tr>
{%- endmacro -%}

{%- macro format_literature(translationContext, inscription) -%}

    {% import _self as self %}

    {{ self.fill_row(self.translate_field_label(translationContext, 'literature'), self.get_literature_row_td_content(inscription)|default('-')) }}
{%- endmacro -%}

{%- macro get_literature_row_td_content(inscription) -%}
    {% import _self as self %}

    {{- inscription.interpretations|map(interpretation => {'pages': interpretation.PageNumbersInSource, 'number': interpretation.numberInSource, 'source': interpretation.source})|sort((a, b) => bibliographicRecordComparer.CompareByYear(a.source, b.source))|map(record => self.format_literature_item(record))|join('<br/>')|raw -}}
{%- endmacro -%}

{%- macro format_literature_item(record) -%}
    {% set bibliographicRecord = record.source %}
    {% if record.number is not empty %}
        {% set numberInSource = '; № %s'|format(record.number) %}
    {% else %}
        {% set numberInSource = '' %}
    {% endif %}
    {% if record.pages is not empty %}
        {% set pages = ': %s'|format(record.pages) %}
    {% else %}
        {% set pages = '' %}
    {% endif %}
    <a href="{{ path("bibliographic_record__list") }}#{{ bibliographicRecord.shortName }}"
    data-toggle="tooltip" data-placement="top" 
    title="{{ bibliographicRecord.formalNotation }}">
    {{ bibliographicRecord.shortName }}{{ pages }}{{ numberInSource }}
    </a>
{%- endmacro -%}

{%- macro fill_row(thContent, tdContent) -%}
    {% if tdContent != '-' %}
        <tr>
            <th scope="row">{{ thContent|raw }}</th>
            <td>{{ tdContent|trim|raw }}</td>
        </tr>
    {% endif %}
{%- endmacro -%}

{%- macro format_translation(inscription) -%}
    {% import _self as self %}

    {{- self.format_zero_row(inscription, 'translation', 'translation')|default('-') -}}
{%- endmacro -%}

{%- macro format_epidoc_text_row(translationContext, labelTranslationKey, epidocRendered, epidocRenderMode) -%}
    {% import _self as self %}
    {% set hasXsltEdition = epidocRendered is not null and epidocRendered.editionHtml is not empty %}
    {% set xsltMode = epidocRenderMode in ['xslt_mvp', 'hybrid'] %}
    {% set useXsltEdition = hasXsltEdition and xsltMode %}

    <tr>
        <th scope="row">
            <div class="epidoc-header-cell">
                <span>{{ self.translate_field_label(translationContext, labelTranslationKey) }}</span>
                <button
                    type="button"
                    class="epidoc-system-toggle-btn"
                    aria-label="Переключить систему отображения EpiDoc"
                    title="Переключить систему отображения EpiDoc"
                >LEID</button>
            </div>
        </th>
        <td>
            <div class="epidoc-text-main-row">
                {% if useXsltEdition %}
                    <div class="epidoc-text-in-table--server" data-epidoc-render-source="xslt" style="font-family: 'Monomachus', 'Georgia', serif; font-size: 1.1rem; line-height: 1.8; color: #212529; white-space: pre-wrap;">
                        {{- epidocRendered.editionHtml|trim|raw -}}
                    </div>
                {% else %}
                    <div id="epidoc-text-in-table" style="font-family: 'Monomachus', 'Georgia', serif; font-size: 1.1rem; line-height: 1.8; color: #212529; white-space: pre-wrap;">
                        {# JavaScript will populate this #}
                    </div>
                {% endif %}
                <button
                    type="button"
                    id="epidoc-full-readings-toggle"
                    class="epidoc-translations-toggle epidoc-inline-readings-toggle"
                    aria-expanded="false"
                    title="{{ 'readingsSpoiler.open'|transWithContext(translationContext) }}"
                    hidden
                ></button>
            </div>
            <div
                id="epidoc-full-readings-in-text"
                data-show-readings-title="{{ 'readingsSpoiler.open'|transWithContext(translationContext) }}"
                data-hide-readings-title="{{ 'readingsSpoiler.close'|transWithContext(translationContext) }}"
                style="margin-top: 0.75rem;"
            >
                {# JavaScript will populate this #}
            </div>
        </td>
    </tr>
{%- endmacro -%}

{%- macro format_epidoc_apparatus_row(translationContext, labelTranslationKey) -%}
    {%- import _self as self -%}

    <tr>
        <th scope="row">
            {{- self.translate_field_label(translationContext, labelTranslationKey) -}}
        </th>
        <td>
            <div id="epidoc-apparatus-in-table">
                {# JavaScript will populate this #}
            </div>
        </td>
    </tr>
{%- endmacro -%}

{%- macro format_epidoc_translations_row(translationContext, labelTranslationKey) -%}
    {%- import _self as self -%}

    <tr>
        <th scope="row">
            {{- self.translate_field_label(translationContext, labelTranslationKey) -}}
        </th>
        <td>
            <div id="epidoc-translations-in-table">
                {# JavaScript will populate this #}
            </div>
        </td>
    </tr>
{%- endmacro -%}

{%- macro format_epidoc_text_content() -%}
    <div class="epidoc-section epidoc-section--edition" style="margin: 0; padding: 0; background: transparent; border: none;">
        <div id="epidoc-text-in-table" style="margin-bottom: 0.5rem; font-family: 'Monomachus', 'Georgia', serif; font-size: 1.1rem; line-height: 1.8; color: #212529; white-space: pre-wrap;">
            JavaScript will populate this
        </div>
    </div>
{%- endmacro -%}
