{#
 # This file is part of «Epigraphy of Medieval Rus» database.
 #
 # Copyright (c) National Research University Higher School of Economics
 #
 # «Epigraphy of Medieval Rus» database is free software:
 # you can redistribute it and/or modify it under the terms of the
 # GNU General Public License as published by the Free Software Foundation, version 3.
 #
 # «Epigraphy of Medieval Rus» database is distributed
 # in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
 # the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 # See the GNU General Public License for more details.
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code. If you have not received
 # a copy of the GNU General Public License along with
 # «Epigraphy of Medieval Rus» database,
 # see <http://www.gnu.org/licenses/>.
 #}

{%- extends 'site/base.html.twig' -%}

{%- block title -%}{{ post.title }}{%- endblock -%}

{%- block page_content -%}

    {% import 'site/content/post.html.twig' as post_helper %}
    {% import _self as self %}

    {{ post_helper.render_post_body(post, false) }}

    {% for record in records %}
        <p>{{ self.render_record(translationContext, record) }}</p>
    {% endfor %}
{%- endblock -%}

{%- macro render_record(translationContext, bibliographicRecord) -%}

    {% import _self as self %}

    <span id="{{ bibliographicRecord.shortName }}">
        <span>{{- bibliographicRecord.shortName -}}</span>
        {{- self.create_download_icon(translationContext, bibliographicRecord) -}}
        {{- self.create_remark_if_pre_publication(translationContext, bibliographicRecord) -}}
        {{- ' — ' -}}
        <span>{{- bibliographicRecord.formalNotation -}}</span>
    </span>
{%- endmacro -%}

{%- macro create_download_icon(translationContext, bibliographicRecord) -%}
    {%- if bibliographicRecord.mainFile is not null -%}
        <a class="eomr-download-icon" href="{{ thumbnailsGenerator.thumbnail(bibliographicRecord.mainFile) }}">
            {{- include('site/_download_icon.html.twig') -}}
        </a>
    {%- endif -%}
{%- endmacro -%}

{%- macro create_remark_if_pre_publication(translationContext, bibliographicRecord) -%}
    {%- if bibliographicRecord.year is null -%}
        <span aria-label="{{ 'bibliography.prePublicationRemark'|trans }}" data-microtip-position="top" role="tooltip" >
            <span class="eomr-bibliography-remark">{{ 'bibliography.prePublicationMark'|trans }}</span>
        </span>
    {%- endif -%}
{%- endmacro -%}