{#
 # This file is part of «Epigraphy of Medieval Rus» database.
 #
 # Copyright (c) National Research University Higher School of Economics
 #
 # «Epigraphy of Medieval Rus» database is free software:
 # you can redistribute it and/or modify it under the terms of the
 # GNU General Public License as published by the Free Software Foundation, version 3.
 #
 # «Epigraphy of Medieval Rus» database is distributed
 # in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
 # the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 # See the GNU General Public License for more details.
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code. If you have not received
 # a copy of the GNU General Public License along with
 # «Epigraphy of Medieval Rus» database,
 # see <http://www.gnu.org/licenses/>.
 #}

{% extends 'base.html.twig' %}

{% block title -%}
    {{ parent() }} {{ inscription.id }}
{%- endblock %}

{%- macro translation_prefix() -%}
    {{ 'controller.inscription.show.inscription.label.' }}
{%- endmacro -%}

{% block page_content %}

    {% import _self as self %}

    <table class="table table-bordered">
        <tbody>
            {{ self.format_text_row('number', inscription.number) }}
            {{ self.format_text_row('conventionalDate', inscription.conventionalDate) }}
            {{ self.format_text_row('comment', inscription.comment) }}
            {{ self.format_carrier(inscription) }}
            {{ self.format_text_row('zeroRow.origin', self.format_zero_row(inscription, 'origin')) }}
            {{ self.format_text_row('zeroRow.placeOnCarrier', self.format_zero_row(inscription, 'placeOnCarrier')) }}
            {{ self.format_text_row('zeroRow.writingTypes', self.format_zero_row(inscription, 'writingTypes')) }}
            {{ self.format_text_row('zeroRow.writingMethods', self.format_zero_row(inscription, 'writingMethods')) }}
            {{ self.format_text_row('zeroRow.preservationStates', self.format_zero_row(inscription, 'preservationStates')) }}
            {{ self.format_text_row('zeroRow.materials', self.format_zero_row(inscription, 'materials')) }}
            {{ self.format_text_row('zeroRow.alphabets', self.format_zero_row(inscription, 'alphabets')) }}
            {{ self.format_text_row('zeroRow.text', self.format_zero_row(inscription, 'text', 'original-text')) }}
            {{ self.format_text_row('zeroRow.textImages', self.format_zero_row_images(inscription, 'textImages')) }}
            {{ self.format_text_row('zeroRow.transliteration', self.format_zero_row(inscription, 'transliteration')) }}
            {{ self.format_text_row('zeroRow.translation', self.format_zero_row(inscription, 'translation')) }}
            {{ self.format_text_row('photos', self.format_inscription_images(inscription, 'photos')) }}
            {{ self.format_text_row('drawings', self.format_inscription_images(inscription, 'drawings')) }}
            {{ self.format_text_row('zeroRow.contentCategories', self.format_zero_row(inscription, 'contentCategories')) }}
            {{ self.format_text_row('zeroRow.content', self.format_zero_row(inscription, 'content')) }}
            {{ self.format_text_row('zeroRow.dateInText', self.format_zero_row(inscription, 'dateInText')) }}
            {{ self.format_text_row('zeroRow.stratigraphicalDate', self.format_zero_row(inscription, 'stratigraphicalDate')) }}
            {{ self.format_text_row('zeroRow.nonStratigraphicalDate', self.format_zero_row(inscription, 'nonStratigraphicalDate')) }}
            {{ self.format_text_row('zeroRow.historicalDate', self.format_zero_row(inscription, 'historicalDate')) }}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container">
            <a href="{{ path('epigraphy_inscription_edit', {'id': inscription.id}) }}"
               target="_blank"
               class="h5"
            >
                {{- 'controller.inscription.show.admin'|trans -}}
            </a>
        </div>
    {% endif %}
{% endblock %}

{%- macro format_zero_row(inscription, propertyName, formatType = 'default') -%}

    {% import _self as self %}

    {{- valueStringifier.stringify(inscription, propertyName, formatType)|raw -}}
{%- endmacro -%}

{%- macro format_zero_row_images(inscription, propertyName) -%}

    {% import _self as self %}

    {{ imagesFormatter.formatZeroRowImages(inscription, propertyName)|raw }}
{%- endmacro -%}

{%- macro format_inscription_images(inscription, propertyName) -%}

    {% import _self as self %}

    {{ imagesFormatter.formatInscriptionImages(inscription, propertyName)|raw }}
{%- endmacro -%}

{%- macro format_text_row(labelTranslationKey, content) -%}

    {% import _self as self %}

    {% if content is iterable %}
        {% set content = content|join(', ') %}
    {% endif %}

    {% if content is same as (true) %}
        {% set content = 'type.bool.true'|trans %}
    {% elseif content is same as (false) %}
        {% set content = 'type.bool.false'|trans %}
    {% endif %}

    {{ self.fill_row((self.translation_prefix ~ labelTranslationKey)|trans, content|default('-')) }}
{%- endmacro -%}

{%- macro format_carrier(inscription) -%}

    {% import _self as self %}

    <tr>
        <td colspan="2" class="eomr-blocked-cell">
            <div data-spoiler-container class="eomr-spoiler-container hidden">
                <details>
                    <summary class="eomr-spoiler-button">
                        <span class="toggler-text open-spoiler">{{ 'controller.inscription.show.carrierSpoiler.close'|trans }}</span>
                        <span class="toggler-text closed-spoiler">{{ 'controller.inscription.show.carrierSpoiler.open'|trans }}</span>
                    </summary>
                    <div class="eomr-spoiler-content-wrapper">
                        <table class="table table-bordered">
                            <tbody>
                            {{ self.format_text_row('carrier.types', inscription.carrier.types|map(namedEntity => namedEntity.name)) }}
                            {{ self.format_text_row('carrier.categories', inscription.carrier.categories|map(namedEntity => namedEntity.name)) }}
                            {{ self.format_text_row('carrier.origin1', inscription.carrier.origin1) }}
                            {{ self.format_text_row('carrier.origin2', inscription.carrier.origin2) }}
                            {{ self.format_text_row('carrier.findCircumstances', inscription.carrier.findCircumstances) }}
                            {{ self.format_text_row('carrier.characteristics', inscription.carrier.characteristics) }}
                            {{ self.format_text_row('carrier.individualName', inscription.carrier.individualName) }}
                            {{ self.format_text_row('carrier.storagePlace', inscription.carrier.storagePlace) }}
                            {{ self.format_text_row('carrier.inventoryNumber', inscription.carrier.inventoryNumber) }}
                            {{ self.format_text_row('carrier.isInSitu', inscription.carrier.isInSitu) }}
                            </tbody>
                        </table>
                    </div>
                </details>
            </div>
        </td>
    </tr>
{%- endmacro -%}

{%- macro fill_row(thContent, tdContend) -%}
    <tr>
        <th scope="row">{{ thContent|raw }}</th>
        <td>{{ tdContend|raw }}</td>
    </tr>
{%- endmacro -%}
