{#
 # This file is part of «Epigraphy of Medieval Rus'» database.
 #
 # Copyright (c) National Research University Higher School of Economics
 #
 # «Epigraphy of Medieval Rus'» database is free software:
 # you can redistribute it and/or modify it under the terms of the
 # GNU General Public License as published by the Free Software Foundation, version 3.
 #
 # «Epigraphy of Medieval Rus'» database is distributed
 # in the hope  that it will be useful, but WITHOUT ANY WARRANTY; without even
 # the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 # See the GNU General Public License for more details.
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code. If you have not received
 # a copy of the GNU General Public License along with
 # «Epigraphy of Medieval Rus'» database,
 # see <http://www.gnu.org/licenses/>.
 #}

{% extends 'base.html.twig' %}

{% block title -%}
    {{ parent() }} {{ inscription.id }}
{%- endblock %}

{%- macro translation_prefix() -%}
    {{ 'controller.inscription.show.inscription.label.' }}
{%- endmacro -%}

{% block page_content %}

    {% import _self as self %}

    <table class="table table-bordered">
        <tbody>
            {{ self.format_text_row('conventionalDate', inscription.conventionalDate) }}
            {{ self.format_text_row('carrier.type', inscription.carrier.type.name) }}
            {{ self.format_text_row('carrier.category', inscription.carrier.category.name) }}
            {{ self.format_text_row('carrier.origin1', inscription.carrier.origin1) }}
            {{ self.format_text_row('carrier.origin2', inscription.carrier.origin2) }}
            {{ self.format_text_row('carrier.individualName', inscription.carrier.individualName) }}
            {{ self.format_text_row('carrier.storagePlace', inscription.carrier.storagePlace) }}
            {{ self.format_text_row('carrier.inventoryNumber', inscription.carrier.inventoryNumber) }}
            {{ self.format_text_row('carrier.isInSitu', inscription.carrier.isInSitu) }}
            {{ self.format_text_row('zeroRow.placeOnCarrier', self.format_zero_row(inscription, 'placeOnCarrier')) }}
            {{ self.format_text_row('zeroRow.writingType', self.format_zero_row(inscription, 'writingType')) }}
            {{ self.format_text_row('zeroRow.writingMethod', self.format_zero_row(inscription, 'writingMethod')) }}
            {{ self.format_text_row('zeroRow.preservationState', self.format_zero_row(inscription, 'preservationState')) }}
            {{ self.format_text_row('zeroRow.alphabet', self.format_zero_row(inscription, 'alphabet')) }}
            {{ self.format_text_row('zeroRow.text', self.format_text(inscription, 'text')) }}
            {{ self.format_text_row('zeroRow.textImageFileNames', self.format_zero_row(inscription, 'textImageFileNames')) }}
            {{ self.format_text_row('zeroRow.transliteration', self.format_zero_row(inscription, 'transliteration')) }}
            {{ self.format_text_row('zeroRow.translation', self.format_zero_row(inscription, 'translation')) }}
            {{ self.format_text_row('zeroRow.photoFileNames', self.format_zero_row(inscription, 'photoFileNames')) }}
            {{ self.format_text_row('zeroRow.sketchFileNames', self.format_zero_row(inscription, 'sketchFileNames')) }}
            {{ self.format_text_row('zeroRow.contentCategory', self.format_zero_row(inscription, 'contentCategory')) }}
            {{ self.format_text_row('zeroRow.content', self.format_zero_row(inscription, 'content')) }}
            {{ self.format_text_row('zeroRow.dateInText', self.format_zero_row(inscription, 'dateInText')) }}
            {{ self.format_text_row('zeroRow.stratigraphicalDate', self.format_zero_row(inscription, 'stratigraphicalDate')) }}
            {{ self.format_text_row('zeroRow.nonStratigraphicalDate', self.format_zero_row(inscription, 'nonStratigraphicalDate')) }}
            {{ self.format_text_row('zeroRow.historicalDate', self.format_zero_row(inscription, 'historicalDate')) }}
            {{ self.format_text_row('zeroRow.materials', self.format_zero_row(inscription, 'materials')) }}
        </tbody>
    </table>
{% endblock %}

{%- macro format_zero_row(inscription, propertyName) -%}

    {% import _self as self %}

    {{ zeroRowFormatter.format(inscription, propertyName)|nl2br }}
{%- endmacro -%}

{%- macro format_text_row(labelTranslationKey, content) -%}

    {% import _self as self %}

    {% if content is iterable %}
        {% set content = content|join(', ') %}
    {% endif %}

    {% if content is same as (true) %}
        {% set content = 'type.bool.true'|trans %}
    {% elseif content is same as (false) %}
        {% set content = 'type.bool.false'|trans %}
    {% endif %}

    {{ self.fill_row((self.translation_prefix ~ labelTranslationKey)|trans, content|default('-')) }}
{%- endmacro -%}

{%- macro fill_row(thContent, tdContend) -%}
    <tr>
        <th scope="row">{{ thContent|raw }}</th>
        <td>{{ tdContend|raw }}</td>
    </tr>
{%- endmacro -%}
